@charset "UTF-8";

    body {
      background-image: url('https://www.beaverrun.com/sites/default/files/styles/secondary_hero_2018/public/website/AdobeStock_335745675.jpeg?itok=sRkJ0sDA&c=fbb3c7248215e7118b6a231322c6186f');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }