@charset "UTF-8";

        body {
          background-image: url('https://c4.wallpaperflare.com/wallpaper/904/1022/350/hud-1-wallpaper-preview.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }

        .card {
          background-color: rgba(255, 255, 255, 0.7);
        }