@charset "UTF-8";

     body {
       background-image: url('https://i.pinimg.com/736x/d2/51/dc/d251dcc27cdd25b905d3c4845b2a7f01.jpg');
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
     }
     
     .eye {
    	position: absolute;
    	right: 26.5%;
    	transform: translate(0,-50%);
    	top: 40%;
    	cursor: pointer;
    }
    
    .fa-eye {
    	color: black;
    }