@charset "UTF-8";

    body {
      background-image: url('https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwyMjI4OTkyfHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }