@charset "UTF-8";

    body {
      background-image: url('https://www.designcap.com/media/pages/images/home/clipart.svg?v=1602654254');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }