@charset "UTF-8";

    body {
      background-image: url('https://static.storyweaver.org.in/illustrations/58827/large/14.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    
    .eye {
    	position: absolute;
    	float: right;
    	top: 85.8%;
    	transform: translate(0,-50%);
    	right: 26.5%;
    	cursor: pointer;
    }
    
    .fa-eye {
    	color: black;
    }